body , h1 , h2 , h3 , h4 , h5 , h6 *
{ 
    font-family : "Lato" , sans-serif
}
.w3-bar , h1 , button 
{ 
    font-family : "Montserrat" , sans-serif
}
.fa-anchor , .fa-coffee 
{ 
    font-size : 200 px
}
.w3-third  i{
    
    font-size: 12rem;
i {
    width: 4rem ;
    height: 2rem;
    
}